.favoriteSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 70vw;
    max-width: 400px;
    padding: 5px;
    background-color: rgba(256, 256, 256, 0.7);
    border: 1px solid #f0ad4e;
    border-radius: 5px;
    font-size: 0.85rem;
}

@media (min-width: 600px) {
    .information {
        font-size: 0.9rem;
    }
}

.removebtn {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border: 1.5px solid black;
    background-color: white;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
}

.removebtn:hover {
    background-color: rgba(256, 256, 256, 0.1);
    border: 1.5px solid red;
}