.selectButton {
    outline: none;
    border: 1.5px solid black;
    font-weight: 700;
    padding: 5px 20px;
    background-color: white;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.selectButton:hover {
    background-color: rgba(256, 256, 256, 0.1);
    border: 1px solid gray;
}

.selectButton:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.selectButton:nth-child(2) {
    border-radius: 0;
}

.selectButton:nth-child(3) {
    border-radius: 0 5px 5px 0;
}


.activeButton {
    border: 1.5px solid #5cb85c;
    background-color: white;
    color: #5cb85c;
}